<center>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <p>Group of people that loves good food.</p>
        <canvas id="canvas" width="578" height="400" />
</center>
    <script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var imageObj = new Image();

        imageObj.onload = function () {
            context.drawImage(imageObj, 0, 0);
        };
        imageObj.src = 'https://torrecatalunya.expohotels.com/wp-content/uploads/2014/12/Visual-Eje-__H81.jpg';
    </script>
