@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 style="text-shadow: 5px 5px grey;">
        RestBite
    </h1>
    <p class="lead">The biggest restaurants blog. Join to the <b>restaurant</b> restaurant experience and start to <b>Bite</b>. </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can register to our blog, post some data about restaurant and share your knowledge with people around the world.
            Write some comments for other people, give feedback!
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Blog">What is blog? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant review</h2>
        <video width="300" height="300" controls>
            <source src="~/Content/review.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=RestBite%20is%20the%20best%20restaurant%20blog!&hashtags=FoodCritics,FoodBlog,RestBite&url=http://RestBite.com">
            Tweet about RestBite!
        </a>
        <a class="twitter-timeline" href="https://twitter.com/hashtag/RestBite" data-widget-id="911271016130899969">#RestBite Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>